html,body{
    min-height: 100vh;
}
*{
    font-family: "Poppins", serif;
}
a,a:visited,a:active,a:hover{
    color: black;
    text-decoration: none;
}

.input{
    padding: 0.6rem;
    width: 100%;
}
.btn{
    padding: 0.6rem;
    background-color: #ffe4c4;
    border: none;
    border-radius: 10px;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width:800px){
    .input{
        width:200px;
    }
}
